:root {
  --color-primary: #2f0743;
  --color-secondary: #a39700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.content {
  border: 3px solid black;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  border-radius: 15px;
  background: linear-gradient(to top, #41295a, #2f0743);
  color: var(--color-secondary);

  display: flex;
  flex-direction: column;
}
