.geografia {
    
    &__pregunta {
        border: 4px groove black;
        height: 10rem;
        width: 70%;
        margin: 5rem auto;
        @include centrado;
        font-size:2rem;
        font-weight: 700;
        border-radius: 3px;
    }

    &__contenedor-respuestas {
        height: 45rem;
        width: 70%;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    &__respuestas {
        border: 3px groove black;
        margin: 1rem;
        @include centrado;
        font-size: 3rem;
        color: white;
        cursor: pointer;
        transition: all .2s;
        border-radius: 3px;
       
        
        &:hover {
            -webkit-box-shadow: inset 0px 1px 5px 4px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px 1px 5px 4px rgba(0,0,0,0.75);
            box-shadow: inset 0px 1px 5px 4px rgba(0,0,0,0.75);

            border: none;
            background-color: rgba(gray, .3);
         
        }

        &:active {
            color: grey;
            transform: translateY(.2rem);
            
        }
    }


}